div.cv-page {
  display: grid;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  color: black;
  grid-template-columns: 60% 40%;
  height: 100%;
}

.left-section {
  background-color: white;
}

.right-section {
  background-color: rgb(18, 142, 224);

  color: rgb(243, 243, 243);
  height: 100%;
}

.cv-page p {
  color: rgb(255, 255, 255);
  margin: 0;
}

.cv-page h1 {
  margin: 0;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact {
  margin-top: 35px;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}
.contact p {
  margin-bottom: 15px;
}

.name-header,
.education-section,
.work-history {
  margin-left: 20px;
}

.work-history {
  grid-row: 3;
}

.cv-page h2 {
  border-bottom: 1.2px solid rgb(0, 0, 0);
}

ul {
  padding-left: 20px;
}

.school-name,
.job-name {
  font-size: 20px;
  font-weight: bolder;
  list-style: disclosure-open;
}

.degree-li,
.year-li,
.position-li,
.dates-li {
  margin-left: 10px;
}

h3 {
  text-decoration: underline;
  align-self: center;
}

img {
  width: 20px;
  margin-right: 10px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cv-page {
  overflow: auto; /* Adds scroll bars if content overflows */
}

.cv-page .left-section,
.cv-page .right-section {
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  word-wrap: break-word; /* Break long words to fit within the container */
  white-space: normal; /* Allow text to wrap */
}

.cv-page .left-section h1,
.cv-page .left-section p,
.cv-page .education-section ul,
.cv-page .work-history ul,
.cv-page .right-section .contact p,
.cv-page .skills-section ul {
  max-width: 100%; /* Ensure elements do not exceed their container's width */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  word-wrap: break-word; /* Break long words to fit within the container */
}
