div.cv-page {
  display: grid;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  color: black;
  grid-template-columns: 60% 40%;
}

.left-section {
  background-color: white;
}

.right-section {
  background-color: rgb(18, 142, 224);
  padding: 10px;
  color: rgb(0, 0, 0);
}

.cv-page p {
  color: rgb(0, 0, 0);
  margin: 0;
}

.cv-page h1 {
  margin: 0;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact {
  margin-top: 35px;
  margin-right: 20px;
}
.contact p {
  margin-bottom: 15px;
}

.name-header,
.education-section,
.work-history {
  margin-left: 20px;
}

.work-history {
  grid-row: 3;
}

.cv-page h2 {
  border-bottom: 1.2px solid rgb(0, 0, 0);
}

ul {
  padding-left: 20px;
}

.school-name,
.job-name {
  font-size: 20px;
  font-weight: bolder;
  list-style: disclosure-open;
}

.degree-li,
.year-li,
.position-li,
.dates-li {
  margin-left: 10px;
}

h3 {
  text-decoration: underline;
}

img {
  width: 20px;
  margin-right: 10px;
}
