div.sidePanel {
  grid-column: 1/2;
  background-color: rgb(119, 110, 240);
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-color: #128ee0 #5d52f0;
  scrollbar-width: thin;
  height: 100%;
}

div.personal,
div.education,
div.work,
div.skills {
  width: 15vw;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  align-self: center;
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
}

div.skills {
  margin-bottom: 10px;
}

label,
input {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.skill-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skill-input button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 3px;
}

.skill-input button:hover {
  background-color: rgb(85, 235, 25);
}

.add-job {
  margin-top: 20px;
}

.input-container {
  display: flex;
  align-items: center;
}
.input-container button {
  margin-right: 10px;
}

.input-container label {
  margin-right: 10px;
}
